{{#myData}}
    
        
        {{#if ../projInfos}}
            <div class="listItem">
                <a href="/{{directory}}">
                    <h3>{{title}}</h3>
                </a>
            </div>
        {{else}}
            <div>
                <a href="/projects/{{directory}}">
                    <img src='/{{directory}}/capture.png'>
                    <p>{{subtitle}}</p>
                </a>
            </div>
        {{/if}}
        
    
{{/myData}}